<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title ml-2" id="modal-basic-title">
      Do you want to replace the insurance?
    </h4>
    <i
      class="bi bi-x"
      style="position: absolute; right: 10px; top: 12px; font-size: 2rem"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></i>
  </div>
  <div class="modal-body ml-2">
    <div>
      <label>The selected insurance will be replaced: </label>
      <div class="form-check ml-4">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Product1
        </label>
      </div>
      <div class="form-check ml-4">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          product2
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-modal-cancel btn-secondary"
      (click)="modal.dismiss('Cancel')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-modal" (click)="modal.close('OK')">
      OK
    </button>
  </div>
</ng-template>
