<div class="card mb-4 card-size">
    <img class="card-img-top card-img-size" src="https://image.bangkokbiznews.com/image/kt/media/image/news/2020/09/10/897354/750x422_897354_1599783351.jpg?x-image-process=style/LG" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">SPECIAL DAILY HOSPITALISALISON SPECIAL DAILY HOSPITALISALISON</h5>
        <ul class="card-text bullet">
                <li>คุ้มครองค่ารักษาพยาบาลด้วยโรคติดเชื้อและ
                    อุบัติเหตุ พร้อมบริการปรึกษาหมอออนไลน์
                </li>
                <li>รับประกันภัยทั้งคนไทยและต่างชาติ ที่อาศัยอยู่ในประเทศไทย
                </li>
                <li>1234567890123456789012345678901234567890123456789012345678901234567890</li>
                <li>คุ้มครองค่ารักษาพยาบาลด้วยโรคติดเชื้อและ
                    อุบัติเหตุ พร้อมบริการปรึกษาหมอออนไลน์
                </li>
                <li>รับประกันภัยทั้งคนไทยและต่างชาติ ที่อาศัยอยู่ในประเทศไทย
                </li>
                <li>1234567890123456789012345678901234567890123456789012345678901234567890</li>
        </ul>

       <div class="card-bottom">
            <h5 class="colorPrice">50,000  THB/year</h5>
            <div class="form-check">
                <input class="form-check-input big-checkbox" type="checkbox" value="" id="selectToCompare" />
                <a class="btn-moredetail" href="#">More Detail</a>
            </div>
       </div>

    </div>
</div>    