<div class="row row-cols-xs-1">
  <div class="col-sm-3 mb-4 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="card mb-4">
          <div class="card-body">
            Price THB.
            <app-multi-range-slider
              [options]="{ floor: 1000, ceil: 90000, step: 500 }"
              [minValue]="1000"
              [maxValue]="90000"
              (rangeInput)="inputRange($event)"
            >
            </app-multi-range-slider>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            Age.

            <div *ngFor="let la of _listOfAge">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ la.id }}"
                  (change)="searchFilter()"
                  [(ngModel)]="la.isSelected"
                />
                <label class="custom-control-label" for="{{ la.id }}">{{
                  la.name 
                }} years</label>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            Type of insurance.
            <div *ngFor="let li of _listOfInsure">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ li.id }}"
                  (change)="searchFilter()"
                  [(ngModel)]="li.isSelected"
                />
                <label class="custom-control-label" for="{{ li.id }}">{{
                  li.name
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-md-8 col-lg-9">
    <div class="row">
      <div class="col-sm-12">

          <input
            class="form-control w-100 mb-4"
            type="search"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchText"
          />


        <div class="d-flex flex-wrap justify-content-between">
          <app-card-mini
            *ngFor="let product of filteredProduct; trackBy: trackByProduct"
            [product]="product"
            id="product-{{ product.id}}"
            (selectedProduct)="onCheckedProduct($event)"
            trackBy:trackByProduct
          ></app-card-mini>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-compare btn-light" routerLink="/compare"
  >Compare
  <span class="badge badge-pill badge-primary">{{
    selectedProducts.length ? selectedProducts.length : ""
  }}</span>
</a>

<app-modal
  [selectedProducts]="[selectedProducts[0], selectedProducts[1]]"
  [currentProduct]="selectedProducts[2]"
></app-modal>
