<div class="row row-cols-xs-1">
    <div class="col-sm-3 mb-4 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-body">

                <div class="card mb-4">
                    <div class="card-body">
                        Price THB.
                        <app-multi-range-slider 
                            [options]="{floor: 1000, ceil: 50000,step: 500}"
                            [minValue]="1000"
                            [maxValue]="50000"
                        >
                        </app-multi-range-slider>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">      
                        Age.

                        <!-- <app-multi-range-slider 
                            [options]="{floor: 0, ceil: 70}"
                            [minValue]="0"
                            [maxValue]="70"
                        >
                        </app-multi-range-slider> -->

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="y1">
                            <label class="custom-control-label" for="y1">0-10 years</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="y2">
                            <label class="custom-control-label" for="y2">11-20 years</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="y3">
                            <label class="custom-control-label" for="y3">21-50 years</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="y4">
                            <label class="custom-control-label" for="y4">51-70 years</label>
                        </div> 
                    </div>
                </div>     

            


                    <div class="card">
                    <div class="card-body">
                        Type of disease.
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="d1">
                            <label class="custom-control-label" for="d1">Cancer</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="d2">
                            <label class="custom-control-label" for="d2">Cardiovascular</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="d3">
                            <label class="custom-control-label" for="d3">Chronic respiratory</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="d4">
                            <label class="custom-control-label" for="d4">Diabetes mellitus</label>
                        </div> 
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="d5">
                            <label class="custom-control-label" for="d5">Other</label>
                        </div> 
                    </div>
                    </div>

            </div>
            </div>
        </div>

    <div class="col-sm-9 col-md-8 col-lg-9">
            <div class="row">
                  <div class="col-sm-12">
                    <form class="form-inline">
                    <input class="form-control w-100 mb-4" type="search" placeholder="Search" aria-label="Search">
                </form>
        
                <div class="d-flex flex-wrap justify-content-between">
                    <!-- 1 -->
                    <app-card-mini></app-card-mini>
                    <!-- 2 -->
                    <app-card-mini></app-card-mini>
  
                    <app-card-mini></app-card-mini>

                    <app-card-mini></app-card-mini>

                </div>
    
            </div>

        </div>
    </div>
</div>

<a class="btn btn-compare btn-light"  href="#">Compare <span class="badge badge-pill badge-primary" >2</span> </a>


 